include ../mixins/sub-menu.pug

header.header
    .container
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/")
                        img(src="/images/bk.jpg", alt="logo")
            .col-5 
                form(
                    action = "/search"
                    method = "GET"
                )
                    div(
                        class = "form-group d-flex mb-0"
                    )
                        input(
                            type = "text"
                            class = "form-control"
                            name = "keyword"
                            placeholder = "Tìm kiếm ..."
                            value = keyword
                        )
                        //- http://localhost:3000/search?keyword=iphone 
                        button(
                            type = "submit"
                            class = "btn btn-success"
                        ) Tìm

            
            .col-4
                .inner-menu
                    ul
                        li
                            a(href="/") Trang chủ
                        li(class="sub-menu")
                            - const pathProduct = "/products"
                            a(href=pathProduct) Sản phẩm
                                +sub-menu(layoutProductCategory, pathProduct)
                        li 
                            a(href="/cart") Giỏ hàng (#{miniCart ? miniCart.totalProduct : "0"})
                        li 
                            a(href="/user/register") Đăng ký
