extends ../../layouts/default.pug  
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug
 

block main
    +alert-error(3000)
    +alert-success(3000)
    h1(class = "mb-4") Chỉnh sửa nhóm quyền 

    form(
        action = `${prefixAdmin}/roles/edit/${role.id}?_method=PATCH`
        method = "POST"
    )
        div(class = "form-group")
            label(for = "title") Tiêu đề
            input(
                type = "text"
                class = "form-control"
                id = "title"
                name = "title"
                value = role.title
                required
            )
        div(class = "form-group")
            label(for = "desc") Mô tả
            input(
                name="description"
                class = "form-control"
                type = "text"
                id = "desc"
                value = role.description
            )
        
        div(class = "form-group")
            button(
                type = "submit"
                class = "btn btn-primary"
            ) Cập nhật

    script(src="/admin/js/products.js") 


