extends ../../layouts/default.pug 
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug

//- link(rel="stylesheet", href="/css/te.css")
block main
    +alert-success(3000)

    h1 Danh mục sản phẩm 

    .card.mb-3
        .card-header Danh sách 
            .card-body 
                .row 
                    .col-8
                    .col-4
                        a(
                            href= `${prefixAdmin}/products-category/create`
                            class = "btn btn-outline-success"
                        ) + Thêm mới

    

    script(src="/admin/js/products.js")




