extends ../../layouts/default.pug 
include ../../mixins/alert.pug



block main 
    +alert-error(3000)
    +alert-success(3000)


    .container.my-5 
        .row.justify-content-center 
            .col-8 
                h1(class = "text-center") Nhập mã otp xác thực 
                form(
                    action = `/user/password/otp`
                    method = "POST"
                )
                    div(class = "form-group")
                        label(for = "email") Email
                        input(
                            type = "email"
                            name = "email"
                            class = "form-control"
                            id = "email"
                            placeholder = "Nhập email"
                            value = email
                            readonly
                        )

                    div(class = "form-group")
                        label(for = "password") Mã OTP
                        input(
                            type = "otp"
                            name = "otp"
                            class = "form-control"
                            id = "otp"
                            placeholder = "Nhập otp"
                        )

                    div(class = "form-group")
                        button(type = "submit" class = "btn btn-primary btn-block") Xác nhận