extends ../../layouts/default.pug 
include ../../mixins/alert.pug



block main 
    +alert-error(3000)
    +alert-success(3000)


    .container.my-5 
        .row.justify-content-center 
            .col-8 
                h1(class = "text-center") Đổi mật khẩu 
                form(
                    action = `/user/password/reset`
                    method = "POST"
                )
                    div(class = "form-group")
                        label(for = "password") Mật khẩu mới
                        input(
                            type = "password"
                            name = "password"
                            class = "form-control"
                            id = "password"
                            placeholder = "Nhập mật khẩu mới"
                        )

                    div(class = "form-group")
                        label(for = "confirmPassword") Xác nhận mật khẩu
                        input(
                            type = "password"
                            name = "confirmPassword"
                            class = "form-control"
                            id = "confirmPassword"
                            placeholder = "Xác nhận mật khẩu"
                        )

                    div(class = "form-group")
                        button(type = "submit" class = "btn btn-primary btn-block") Đổi mật khẩu